* {
  box-sizing: border-box;
}

.App-Body {
  background-color: rgba(70, 143, 70, 0.297);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 5em;
}

.timeline-container::after {
  background-color: steelblue;
  content: " ";
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
  margin-top: 0;
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  margin: 10px 0;
  width: 50%;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-right: 0px;
  padding-left: 30px;
}

.timeline-item-content {
  max-width: 100%;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
  width: 500px;
  text-align: right;
  position: relative;
}

.timeline-item-content::after {
  content: " ";
  background-color: #333;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  transform: rotate(45deg);
  right: -7.5px;
  top: calc(50% - 7.5px);
  width: 15px;
  height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
  align-items: flex-start;
  text-align: left;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
  right: auto;
  left: -7.5px;
}

.timeline-item-content .tag {
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  letter-spacing: 1px;
  top: 5px;
  left: 5px;
  text-transform: uppercase;
}

.list-items {
  color: white;
  cursor: pointer;
}

.event-list {
  max-width: 100%;
  margin-top: 30px;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
  left: auto;
  right: 5px;
}

.timeline-item-content time {
  color: #777;
  font-size: 12px;
}

.timeline-item-content p {
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
  max-width: 250px;
}

.timeline-item-content a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.tag {
  font-family: "Marcellus SC", serif;
  align-items: center;
}

.timeline-item-content .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 3px solid steelblue;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
  transition: box-shadow 0.3s ease-in-out;
}

.circle:hover {
  box-shadow: 0px 0px 10px steelblue;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  animation: pulse 2s infinite;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -40px;
}

.add-new-event {
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 15px;
  padding-top: 5px;
}

.add-new-event:hover {
  cursor: pointer;
}

.background-line {
  background-color: steelblue;
  content: " ";
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  z-index: 0;
  height: 100%;
  margin-top: 0;
  top: 0;
}

.instance-list {
  list-style: none;
}

.list-items {
  display: flex;

}

#instance-list-name {
  width: 70%;
  white-space: nowrap;  
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(255,255,255,.55);
}

#instance-list-name:hover {
  color: white;
}

.ul-instance {
  padding: 0;
}

@media screen and (min-width: 1600px) {
  .timeline-item:nth-child(even) .timeline-item-content {
    margin-left: 0;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 steelblue;
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
}
