.container-logister {
  display: flex;
  justify-content: center;
}

.logister {
  display: inherit;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  width: 100%;
  background-color: #333;
  border-radius: 15px;
  overflow: hidden;
}

.text {
  color: white;
}

.form-group {
  width: 85%;
}

/* .btn {
  width: 85%;
  margin: 25px;
} */

.form-control {
  align-items: left;
}

.label {
  margin-right: 250px;
}
.email {
  margin-right: 290px;
}

.logister-title {
  font-family: "Marcellus SC", serif;
}

.logister-button {
  background-color: transparent;
  border: solid white 2px;
  color: white;
  border-radius: 10px;
  width: 6em;
  height: 2.5em;
  margin-top: 0;
  justify-content: center;
  justify-self: center;
  /* width: 85%; */
  margin: 25px;
}

.logister-button:hover {
  background-color: white;
  color: #333;
}
