.container-newTimeline {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  overflow: hidden;
  width: 500px;
  margin-top: 10%;
  background-color: #333;
}

.time-card {
  border-radius: 25px;
  background-color: none;
  transition: box-shadow 0.3s ease-in-out;
}

.time-card:hover {
  border-radius: 25px;
  box-shadow: 2px 2px 30px black;
  transition: box-shadow 0.3s ease-in-out
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: white;
}

#title {
  font-family: 'Marcellus SC', serif;
  font-size: 30px;
}

.content {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.enterName {
  padding-bottom: 20px;
}

.name {
  border: transparent;
  background-color: inherit;
  border-bottom: solid white 2px;
  color: white;
}



.name:focus {
  outline: none;
}

.note {
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
}

.scale {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 45%
}

.months {
  border: none;
  background-color: inherit;
  border-bottom: solid white 3px;
  color: white;
  padding-top: 10px;
}

.months:focus {
  outline: none;
}

.button {
  margin-top: 40px;
  margin-bottom: 20px;
}

/* --------Instance Card-------- */

/* .instDisplays {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#image {
  border: solid black 2px;
  border-radius: 25px;
  margin: 10px;
  padding: 40px;
  background-color: beige;
}

.info {
  display: inherit;
  flex-direction: column;
}

.instDescription {
  margin: 15px;
} */
